.logo-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px;
  }
  
  .logo-image {
    width: 180px;  
    height: auto; 
    object-fit: contain;
    margin: auto;
  }
  
  
  .login-card {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: #f00;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    background-color: #00a896;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .forgot-password {
    color: #00a896;
    text-decoration: none;
  }
  
  .social-login {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-button {
    background-color: #fff;
    color: #00a896;
    border: 1px solid #00a896;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }